{% extends 'base.html' %}

{% block content %}
<div class="create_review_container">
    <h1>Ajouter une critique</h1>
    <div class="ticket_to_review_container">
        <h2>{{ ticket.title }}</h2>
        <p>{{ ticket.}}</p>
        <p>{{ ticket.time_created|date:"H:i d/m/Y" }}</p>
        <p>{{ ticket.description }}</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}" alt="Image du ticket">
        {% else %}
            <p>Aucune image disponible</p>
        {% endif %}
    </div>
    <div class="review_container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                    <label for="titre">Titre :</label>
                    {{ form.headline }}
                </div>
                
                <div class="form-group">
                    <label for="commentaire">Commentaire :</label>
                    {{ form.body}}
                </div>
                
                <div class="form-group">
                    <label for="note">Note :</label>
                    {{ form.rating }}
                </div>
            <button type="submit">Soumettre</button>
        </form>
    </div>
</div>
{% endblock %}