{% extends 'base.html' %}

{% block content %}
<div class="create_review_container">
    <h1>Ajouter une critique</h1>
    <div class="ticket_to_review_container">
        <h2>{{ ticket.title }}</h2>
        <p>{{ ticket.}}</p>
        <p>{{ ticket.time_created|date:"H:i d/m/Y" }}</p>
        <p>{{ ticket.description }}</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}" alt="Image du ticket">
        {% else %}
            <p>Aucune image disponible</p>
        {% endif %}
    </div>
    <div class="review_container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                    <label for="titre">Titre :</label>
                    {{ form.headline }}
                </div>
                
                <div class="form-group">
                    <label for="commentaire">Commentaire :</label>
                    {{ form.body}}
                </div>
                
                <div class="form-group">
                    <label for="note">Note :</label>
                    {{ form.rating }}
                    <div class="rating-container">
                        <label for="rating-1" class="star-option">
                            <input type="radio" id="rating-1" name="note" value="1">
                            ★
                        </label>
                        <label for="rating-2" class="star-option">
                            <input type="radio" id="rating-2" name="note" value="2">
                            ★★
                        </label>
                        <label for="rating-3" class="star-option">
                            <input type="radio" id="rating-3" name="note" value="3">
                            ★★★
                        </label>
                        <label for="rating-4" class="star-option">
                            <input type="radio" id="rating-4" name="note" value="4">
                            ★★★★
                        </label>
                        <label for="rating-5" class="star-option">
                            <input type="radio" id="rating-5" name="note" value="5">
                            ★★★★★
                        </label>
                    </div>
                </div>
            <button type="submit">Soumettre</button>
        </form>
    </div>
</div>
{% endblock %}