{% extends 'base.html' %}

{% block content %}
    <div class="delete-container">
        <div class="delete-card">
            <h1>Supprimer un billet</h1>
            <p>Êtes-vous sûr de vouloir supprimer ce billet ?</p>
            <p class="username"><strong>{{ ticket.title }}</strong></p>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn danger">Supprimer</button>
                <a href="{% url 'flux' %}" class="btn cancel">Annuler</a>
            </form>
        </div>
    </div>
{% endblock %}
