/* follow_user page style */
.follow_user h1 {
    text-align: center;
    margin-bottom: 20px;
}

.followed_users,
.followers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    text-align: center;
}

.followed_user_list,
.followed_by_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    background-color: #f9f9f9;
    width: 80%;
    height: 50px;
    gap:0px;
    margin: 10px;
    padding: 20px;
}